body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header,
footer {
  background-color: rgb(20, 156, 219);
  color: white;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Centralizar horizontalmente */
  text-align: center;
  /* Centralizar texto */
}

.logo img {
  height: 40px;
  /* Ajuste a altura conforme necessário */
  margin-right: 10px;
}

.logo h1 {
  font-size: 36px;
  /* Tamanho da letra maior */
  font-weight: bold;
  /* Negrito */
}

main {
  text-align: center;
  /* Centralizar elementos */
}

.times {
  margin-top: 50px;
  /* Espaço entre o header e a seção de times */
}

.times h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.times-list {
  display: flex;
  flex-wrap: wrap;
  /* Quebrar para a próxima linha se não couber na largura */
  justify-content: center;
  /* Centralizar os times */
  gap: 20px;
  /* Espaço entre os times */
}

.time {
  font-weight: bold;
  margin-bottom: 10px;
  /* Espaço entre os nomes dos times */
}

.espaco-para-escrever {
  margin-top: 50px;
  /* Espaço entre os times e a área para escrever */
  text-align: justify;
  /* Justificar o texto */
}

/* Estilos para o menu de navegação */
.navbar {
  margin-bottom: 20px;
}

/* Personalizando os itens do menu */
.navbar-nav .nav-link {
  color: #555;
}

.navbar-nav .nav-link:hover {
  color: #000;
}

/* Media queries para responsividade */
@media (max-width: 768px) {
  .navbar-nav {
    text-align: center;
  }
}